---
import Layout from "../layouts/Layout.astro";
import Hero from "../components/sections/Hero.astro";
---

<Layout title="Welcome to Astro.">
  <div class="main-content">
    <Hero />
  </div>
</Layout>

<style>
  .main-content {
    margin: 100px auto;
    display: flex;
    flex-direction: column;
    gap: 100px;
  }
</style>
