---
import Header from "../components/Header.astro";

interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <Header />
    <main class="width-page">
      <slot />
    </main>
  </body>
</html>
<style is:global>
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  @import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

  html {
    font-family: "Poppins", sans-serif;
  }

  :root {
    --bg-color: #f5f8cf;
    --primary-color: #d5e55d;
    --primary-color-dark: #a8bf23;
    --accent-color: #eaf2a4;
    --dark-color: #232b08;
    --light-color: #f4f4f4;
    --gray-color: rgba(0, 0, 0, 0.2);
    --opacity-color: rgba(0, 0, 0, 0.8);

    --font-size-small: 1em;
    --font-size-medium: 1.5em;
    --font-size-big: 2em;
    --font-size-ultrabig: 3em;
  }

  body {
    background-color: var(--bg-color);
  }

  .width-page {
    width: 90%;
    margin: 0 auto;
  }
</style>
